<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../public/img.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="../skeleton.css">
    <title>BSENSE</title>
</head>

<body>
    <h3 class="title">BSENSE</h3>
</body>


<div class="container-nav">


    <a id="board" href="MENSWEAR">MENSWEAR</a>


    <a href="WOMENSWEAR">WOMENSWEAR</a>


    <a href="EVERYTHING ELSE">EVERYTHING ELSE</a>


    <a href="/Bsense/new">NEW</a>


    <a href="SALE">SALE</a>


    <a href="SEARCH">SEARCH</a>

</div>

    </div>





<div class="container">
<% for( let i = 0; i < products.length; i++ ) { %>
<div class="">
    <h6 class="title"><%= products[i].name %> </h6>
    <a href="/bsense/<%= products[i].id %>"><img  src=" <%= products[i].img %> " class="img" alt=""></a> <br>
    Genre: <h6> <%= products[i].categories %> </h6>
    Price: <h6><%= products[i].price %></h6>
    designers <h6><%= products[i].designers %></h6>
    <form action="/bsense/<%= products[i].id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" />
    </form>
    

    <button class=".button"><a href="/bsense/<%= products[i].id %>/edit">EDIT</a></button>

</div>
<% } %>
</div>

</html>