<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title> Library/ Children Picture Books</title>
</head>

<body>

    <div class="header"></div>


    <nav class="nav-bar">


        <div class="nav-link-wrapper">
            <a id="board" href="MENSWEAR">Menswear</a>
        </div>

        <div class="nav-link-wrapper">
            <a href="WOMENSWEAR">Womenswear</a>
        </div>

        <div class="nav-link-wrapper">
            <a href="EVERYTHING ELSE">Everything Else</a>
        </div>

        <div class="nav-link-wrapper">
            <a href="/library/new">New</a>

        </div>

        <div class="nav-link-wrapper">
            <a href="SALE">Sale</a>
        </div>


        <div class="nav-link-wrapper">
            <a href="SEARCH">Search</a>
        </div>

    </nav>




    <div class="grid-container">
        <% for( let i = 0; i < books.length; i++ ) { %>
        <div class="col-sm-4">
            <h1 class="title"><%= books[i].name %> </h1>
            <a href="/library/<%= books[i].id %>"><img src=" <%= books[i].img %>  " alt=""></a> <br>
            Genre: <p><%= books[i].genre %> </p>
            Price: <h3><%= books[i].price %></h3>
            <form action="/library/<%= books[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" />
            </form>
            <button class="btn btn-default"><a href="/library/<%= books[i].id %>/edit">EDIT</a></button>

        </div>
        <% } %>
    </div>
    


</html>