<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="../normalize.css">
    <link rel="stylesheet" href="../skeleton.css">
    <title>Products Page</title>
</head>

<body>
    <div class="showcontainer">
     
        <div class="showdiv1">
            <h2><%= product.name %></h2> <br>

            <a href="/products/<%= product.id %> "><img src=" <%= product.img%>" alt=""> </a> <br>
            
           

         
        </div>


    
            <p class="showgenre">
            <h6>Price: <%= product.price %> </h6>
            </p>

            <p>
               <h6> Categories: <%= product.categories %> </h6>
            </p>

            <p>
                <h6> Description: <%= product.discription %> </h6>
             </p>
            
       
        <p>
             <button class="addtocart" data-id="3">add to cart</button>
        </p>


        
      
            <nav>
            
                <a href="/bsense">BSENSE</a>
            </nav>
       
    </div>


 

</body>

</html>