!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../show.css" type="text/css">
    <title>Products Page</title>
</head>

<body>
    <div class="showcontainer">
     
        <div class="showdiv1">
            <h2><%= products.name %></h2> <br>

            <a href="/products/<%= products.id %> "><img src=" <%= products.img%>" alt=""> </a> <br>
            <h6>Price:</h6>
            <h6><%= products.price %></h6> <br>

        

         
        </div>


        <div class="showinfo">
            <p class="showgenre">
            <h4>Genre: <%= products.genre %> </h4>
            </p>

            <p>
                Overview: <%= products.overview %>
            </p>

       


            <nav>
                <div class="nav">
                <a href="/bsense">BSENSE</a>
            </nav>
       
    </div>



</body>

</html>